<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin panel</title>
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
	<div style="background-color: var(--secondary); border-radius: 30px;">
		<form action="/add-item" method="post">
			<h3>Add calendar item</h3>
			<label for="title">Title</label>
			<input type="text" name="title" placeholder="Title" required>
			<label for="name">Permalink</label>
			<input type="text" name="name" id="name" required>
			<label for="img">Image URL</label>
			<input type="text" name="img">
			<label for="date">Date</label>
			<input type="date" name="date" id="date" required>
			<label for="time">Time</label>
			<input type="time" name="timeBegin" required>
			<input type="time" name="timeEnd" required>
			<label for="location">Location</label>
			<input type="text" name="location" required>
			<label for="description">Description</label>
			<textarea name="descr" id="description" cols="30" rows="10"></textarea>
			<button>Add calendar item</button>
		</form>
	</div>
</body>

</html>